{% extends "webiqlimapp/base.html" %}

{% load static %}
					
{% block content %}

<div id="main">
    <!-- Form -->
        <h2>Formulario de Contacto</h2>

            {% if "valido" in request.GET %}
                <p style="color: tomato;">Su mensaje se recibió correctamente. Muchas Gracias</p> 
            {% else %} 
                {% if "NOcorrectoscampos" in request.GET %} 
                    <p style="color: tomato;">Los campos del formulario de contacto no son correctos</p> 
                {% else %} 
                    {% if "NOenvio" in request.GET %} 
                        <p style="color: tomato;">El servidor de correo no responde. NO SE RECIBIERON SUS DATOS</p> 
                    {% endif %} 
                {% endif %} 
            {% endif %} 
            <p>{{miFormulario.as_p}}</p>
</div>div>
{% endblock %}