{% extends "webiqlimapp/basecabecera.html" %}

{% load static %}
					
{% block content %}

				<!-- Main -->
                    <div id="main">
                            <!-- Form -->
                                <h2>Formulario de Contacto</h2>
                                    {% if "valido" in request.GET %}
                                        <p style="color: tomato;">Su mensaje se recibió correctamente. Muchas Gracias</p> 
                                    {% else %} 
                                        {% if "NOenvio" in request.GET %} 
                                            <p style="color: tomato;">El servidor de correo no responde. NO SE RECIBIERON SUS DATOS</p> 
                                        {% else %} 
                                            <p style="color: tomato;">Rellene los datos de la imagen para comprobar que es un humano</p> 
                                        {% endif %} 
                                    {% endif %} 
                                    <form method="post" action="?Envio">
                                        <div class="row gtr-uniform">
                                        <div class="col-6 col-12-xsmall">
                                            <label for="Nombre">Nombre</label>
                                            {{miFormulario.nombre}}
                                        </div>
                                        <div class="col-6 col-12-xsmall">
                                            <label for="Email">Email</label>
                                            {{miFormulario.email}}
                                        </div>
                                        <!-- Break -->
                                        <div class="col-12">
                                            <label for="Contenido">Contenido</label>
                                            {{miFormulario.contenido}}
                                        </div>
                                        <!-- Break -->
                                        <div class="col-4 col-12-small">
                                            <label for="Captcha">Teclee los caracteres que ve en la imagen</label>
                                            {{miFormulario.captcha}}
                                        </div>
                                        <div class="col-4 col-12-small">
                                            <input type="checkbox">
                                            <label for="privacidad">Acepto la politica de privacidad de Iqlim</label>
                                        </div>
                                        <!-- Break -->
                                        <div class="col-12">
                                            <ul class="actions">
                                                {% csrf_token %}
                                                
                                                <li><input type="submit" value="Enviar Mensaje" class="primary" /></li>
                                                <li><input type="reset" value="Borrar" /></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                    </div>
				<!-- Footer -->
                <footer id="footer">
                    <section>
                    </section>
                    <section class="split contact">
                        <section class="alt">
                            <h3>Dirección</h3>
                            <p>Nuestra calle<br />
                            Mondujar-Lecrin - Granada </p>
                        </section>
                        <section>
                            <h3>Teléfono</h3>
                            <p><a href="#">(+34) 659 20 29 56</a></p>
                        </section>
                        <section>
                            <h3>Email</h3>
                            <p><a href="#">info@iqlim.net</a></p>
                        </section>
                        <section>
                            <h3>Social</h3>
                            <ul class="icons alt">
                                <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                            </ul>
                        </section>
                    </section>
                </footer>

            <!-- Copyright -->
                <div id="copyright">
                    <ul><li>&copy; Copyright Iqlim 2.021</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
                </div>

            </div>

    <!-- Scripts -->
        <script src="{% static 'webiqlimapp/vendor/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'webiqlimapp/vendor/assets/js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'webiqlimapp/vendor/assets/js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'webiqlimapp/vendor/assets/js/browser.min.js' %}"></script>
        <script src="{% static 'webiqlimapp/vendor/assets/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'webiqlimapp/vendor/assets/js/util.js' %}"></script>
        <script src="{% static 'webiqlimapp/vendor/assets/js/main.js' %}"></script>

</body>
</html>
{% endblock %}

