{% extends "webiqlimapp/base.html" %}

{% load static %}
{% load filtros %}					
{% block content %}
				<!-- Main -->
                <div id="main">
                    <div class="pagination">
                        <form method="POST" action="{% url 'buscar_blog'%}">
                            <ul class="actions special">
                            <li><input type="search" class="form-control rounded" placeholder="Buscar ..." name="buscar" aria-label="Search"
                              aria-describedby="search-addon" /></li>
                            <li><input type="submit" class="button" value="Buscar" /></li>
                            </ul>
                            {% csrf_token %}
                        </form>
                    </div>  
                    {% for post in posts %}
                    {% if forloop.first %}
                    <!-- Featured Post -->
                        <article class="post featured">
                            <header class="major">
                                <span class="date">{{post.created}}</span>
                                <h2><a href="#">{{post.titulo}}</a></h2>
                                <p>{{post.contenido|safe|slice:':100'}}</p>
                            </header>
                            <a href="{% url 'verblog' post.id %}" class="image main"><img src={{post.imagen.url}} alt=""/></a>
                            <ul class="actions special">
                                <li><a href="{% url 'verblog' post.id %}" class="button large">Leer</a></li>
                            </ul>
                        </article>
                    {% else %}
                    <!-- Posts -->
                        {% if forloop.counter0 == 1 %}
                            <section class="posts">
                        {% endif %}
                            <article>
                                <header>
                                    <span class="date">{{post.created}}</span>
                                    <h2><a href="#">{{post.titulo}}</a></h2>
                                </header>
                                <a href="{% url 'verblog' post.id %}" class="image fit"><img src={{post.imagen.url}} alt="" /></a>
                                <p>{{post.contenido|safe|slice:':50'}}</p>
                                <ul class="actions special">
                                    <li><a href="{% url 'verblog' post.id %}" class="button">Leer</a></li>
                                </ul>
                            </article>
                    {% endif %}
                    {% endfor %}
                            </section>
                    <!-- Footer -->
                        <footer>
                            <div class="pagination">
                                <!--<a href="#" class="previous">Prev</a>-->
                            {% with ''|center:paginas_totales as range %}
                            {% for i in range %}
                                {% with forloop.counter|add:"0" as pagina %}
                                {% ifequal forloop.counter pagina_activa %}
                                    <a href="{% url 'paginablog' pagina %}" class="page active">{{forloop.counter}}</a>
                                {% else %}    
                                    <a href="{% url 'paginablog' pagina %}" class="page">{{forloop.counter}}</a>
                                {%endifequal%}
                                {% endwith %}
                            {% endfor %}
                            {% endwith %}
                            </div>
                        </footer>
                </div>
{% endblock %}
