{% extends "webiqlimapp/base.html" %}

{% load static %}
					
{% block content %}
					
				<!-- Main -->
				<div id="main">
					<section class="posts">
					{% for post in posts %}
                            <article>
                                <header>
                                    <span class="date">{{post.created}}</span>
                                    <h2><a href="#">{{post.titulo}}</a></h2>
                                </header>
                                <a href="{% url 'verblog' post.id %}" class="image fit"><img src={{post.imagen.url}} alt="" /></a>
                                <p>{{post.contenido|safe|slice:':100'}}</p>
                                <ul class="actions special">
                                   <li><a href="{% url 'verblog' post.id %}" class="button">Leer</a></li>
                                </ul>
                            </article>
					{% endfor %}
					</section>
				</div>

{% endblock %}
