{% extends "webiqlimapp/base.html" %}

{% load static %}
					
{% block content %}
					
				<!-- Main -->
                <div id="main">

                    <!-- Featured Post -->
                        <article class="post featured">
                            <header class="major">
                                <h2><a href="#">{{post.titulo}}</a></h2>
                                {% if post.efecto_imagen == 'A' %}
                                <a href="#" class="image main"><img src="{{post.imagen.url}}" alt="Imagen del post" /></a>
                                {% endif %}
                                {% if post.efecto_imagen == 'I' %}
                                <p><span class="image left"><img src="{{post.imagen.url}}" alt="Imagen del post" /></span>{{post.contenido|safe}}</p>
                                {% endif %}
                                {% if post.efecto_imagen == 'D' %}
                                <p><span class="image right"><img src="{{post.imagen.url}}" alt="Imagen del post" /></span>{{post.contenido|safe}}</p>
                                {% endif %}
                                {% if post.efecto_imagen == 'N' or post.efecto_imagen == 'A' or post.efecto_imagen == 'P' %}
                                <p>{{post.contenido|safe}}</p>
                                {% endif %}
                            </header>
                            {% if post.efecto_imagen == 'P' %}
                                <a href="#" class="image main"><img src="{{post.imagen.url}}" alt="" /></a>
                            {% endif %}
                            <ul class="actions special">
                                <li><a href="{% url 'blog' %}" class="button large">Blogs</a></li>
                            </ul>
                        </article>
                </div>

            
{% endblock %}
