{% extends "webiqlimapp/base.html" %}

{% load static %}
					
{% block content %}
					
				<!-- Main -->
				<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">{{param.titulo_hoja}}</a></h2>
									{% if param.efecto_imagen == 'A' %}
										<a href="#" class="image main"><img src="{{param.imagen.url}}" alt="" /></a>
									{% endif %}
									<p>{{param.contenido|safe}}</p>
								</header>
								{% if param.efecto_imagen == 'D' %}
									<a href="#" class="image main"><img src="{{param.imagen.url}}" alt="" /></a>
								{% endif %}
								<ul class="actions special">
									<li><a href="{% url 'Servicios' %}" class="button large">Servicios</a></li>
								</ul>
							</article>
				</div>

{% endblock %}
