{% extends "webiqlimapp/base.html" %}

{% load static %}
					
{% block content %}
					
				<!-- Main -->
				<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">Creamos experiencias<br />
									Comunicación, Visibilidad, Digitalización y mucho más</a></h2>
									<p> IQlim es una agencia que nace con la idea de crear nuevas experiencias y soluciones a nuestros clientes
									  <br />
									  Estamos en constante evolución produciendo ideas y mejores soluciones que generen resultados reales
								   <br />
								   a los objetivos de nuestros  
								   clientes, ayudándolos a crecer y conectar oportunidades de gran
								   valor e innovación</p>
								</header>
								<a href="#" class="image main"><img src="{% static 'webiqlimapp/vendor/images/pic01.jpg' %}" alt="" /></a>
								<ul class="actions special">
									<li><a href="{% url 'Servicios' %}" class="button large">Servicios</a></li>
								</ul>
							</article>
				</div>

{% endblock %}
