{% extends "webiqlimapp/base.html" %}

{% load static %}
					
{% block content %}

				<!-- Main -->
                <div id="main">
                    {% for servicio in servicios %}
                    <!-- Post -->
                        <section class="post">
                            <header class="major">
                                <h1>{{servicio.titulo}}</h1>
                                <p>{{servicio.imagen.url}}</p>
                            </header>
                            <div class="image main"><img src="{{servicio.imagen.url}}" alt=""></div>
                            <p>{{servicio.contenido|safe}}</p>
                        </section>
                    {% endfor %}
                </div>
            
				
{% endblock %}
